
.style{
    background-color: white;
}

.hello{
    position: absolute;
    height: auto;
    left: 0px;
    width: 250px;
}

.bob{
    position:absolute;
    height: auto;
    left: auto;
    width: auto;
}

.austin{
    position: fixed;
    height: 50;
    left:auto;
    width: 100;

}
/* You know when you know */
.ashley{
    position:absolute;
    height: auto;
    left: auto;
    width: 100;


}
.Noah{
    position:absolute;
    height: auto;
    left: auto;
    width: 100;


}

.ashley{
    position: 100;
    right:0;
    bottom: 0;
    min-width: 10%;
    min-height: 0%;
    width: 200;
    height: 200;
}